* {
  box-sizing: border-box;
}


body {
    background-color: #FFFAFA;
    font-family: 'Darker Grotesque', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#navBar {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    align-items: center;
}

#rightNav {
    width: 250px;
    display: flex;
    justify-content: space-between;
}
#leftNav {
    font-size: 33px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    transition: 0.2s ease-in;
    color: #A9A9A9;
}

#mainP{
    display: flex;
    flex-direction: column;
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 25px;
    align-items: center;
}

#inpic {
    width: 75vw;
    height: 90vw;
}

#indexPic {
    width: 75vw;
}

#projectsOp {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-style: solid;
    border-width: 2px;
    width: 130px;
    height: 40px;
    padding-bottom: 10px;
}

#indexWord {
    width: 75vw;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    height: 220px;
}

main {
    flex-grow: 1;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}

header {
    flex-grow: 0;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 125px;
}

#aboutPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    width: 75vw;
    margin-top: 15px;
}

#aboutpic {
    width: 83vw;
    height: 110vw;
}

.photoCaption {
    display: flex;
    font-size: 15px;
    justify-content: center;
    margin-bottom: 15px;
}

#aboutP {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    font-size: 16px;
    width: 83vw;
}

#hello {
    font-weight: 400;
    font-size: 20px;
}

.photoSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    font-size: 20px;
    width: 83vw;
}

#swfPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 60vw;
    background-color: black;
}

#swfpic{
    width:180px;
    height:180px;

}

.photoSide:hover .photo {
    opacity: 0.3;
}

.photo {
    transition: .5s ease;
    width: 80vw;
    height: 60vw;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.eachItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}

.worksWords {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    width: 83vw;
}

#logo {
    display: none;
}

.title {
    font-size: 25px;
    font-weight: 500;
}

.subtext {
    color: grey;
    font-size: 17px;
}

@media (min-width: 850px) {
    #navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 23px;
    padding: 20px;
}

#leftNav {
    margin-left: 140px;
}

#rightNav {
    margin-right: 140px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

#mainP{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    align-items: flex-start;
}
#inpic {
    width: 430px;
    height: 570px;
}

#indexPic {
    width: 550px;
}

#indexWord {
    width: 550px;
        font-size: 60px;
}

.photoCaption {
    width: 420px;
    font-size: 20px;
}
#projectsOp {
    font-size: 53px;
        border-width: 3px;
    width: 180px;
    height: 60px;
}

#aboutP{
    width: 550px;
    font-size: 20px;
}
#aboutPhoto {
 width: 550px;
 margin-top: 0;
}
#aboutpic {
        width: 430px;
    height: 570px;
}
#hello {
    font-size:30px;
}

.eachItem {
    flex-direction: row;
}

.photoSide {
    width: 450px;
}

.worksWords {
    width: 650px;
        font-size: 20px;
}

.items {
        margin-left: 160px;
    margin-right: 160px;
}

.title {
    font-size: 30px;
    }

.photo {
    width: 400px;
    height:300px;
}

#swfPhoto {
        width: 400px;
    height:300px;
}
#swfpic{
    width:210px;
    height:210px;

}

}

/*trying fade in*/
.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
